{% extends 'base.html.twig' %}

{% block title %}Liste des stagiaires!{% endblock %}

{% block body %}



<div class="d-flex justify-content-between align-items-center mb-3">

    <h1>Liste des stagiaires</h1>

    <a href="{{ path('new_stagiaire') }}" class="button-64" role="button">
        <span class="text">Ajouter un stagiaire</span>
    </a>

</div>


<div class="container mt-4">

    <div class="row">
        {% for stagiaire in stagiaires %}
        <div class="col-md-3 mb-4"> 
            <div class="card shadow-sm"> 
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="text-decoration-none text-dark">
                            {{ stagiaire.nom }} {{ stagiaire.prenom }}
                        </a>
                    </h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
