{% extends 'base.html.twig' %}

{% block title %}Hello StagiaireController!{% endblock %}

{% block body %}

    <h1>Liste des stagiaires</h1>

    {% for stagiaire in stagiaires %}

    <li>{{ stagiaire.nom }} {{ stagiaire.prenom }} - {{ stagiaire.email }}</li>

    {% endfor %}

{% endblock %}
