{% extends 'base.html.twig' %}

{% block title %}Liste des stagiaires!{% endblock %}

{% block body %}

    <h1>Liste des stagiaires</h1>

    {% for stagiaire in stagiaires %}

    <li>{{ stagiaire.nom }} {{ stagiaire.prenom }} - {{ stagiaire.email }}</li>

    {% endfor %}

    <a href="{{ path('new_stagiaire') }}" class="button-64" role="button">
        <span class="text">Ajouter un stagiaire</span>
    </a>

{% endblock %}
