/******** GENERAL *******/

body {
  margin-left: 210px; /* Décale le contenu pour ne pas être sous la navbar */
  background-color: rgb(255, 255, 255);
  /* font-family: "Work Sans", serif; */
  font-family: "Encode Sans Semi Expanded", serif;
}

main {
  margin: 150px 180px;
}

h1 {
  margin-bottom: 50px;
  font-size: 2em;
}

h2 {
  background: -webkit-linear-gradient(158deg, #cf07b4, #af29fe, #7048ff, #1f65f2); /* Gradient pour les anciens navigateurs */
  background: linear-gradient(158deg, #cf07b4, #af29fe, #7048ff, #1f65f2); /* Gradient pour les navigateurs modernes */
  -webkit-background-clip: text; /* Applique le gradient au texte dans les navigateurs WebKit (Chrome, Safari, etc.) */
  background-clip: text; /* Pour les autres navigateurs */
  color: transparent; /* Rend le texte transparent afin que seule la couleur du gradient soit visible */
  font-size: 1.7em;
}

h3 {
  font-size: 1.4em;
}

a {
  text-decoration: none;
  color: black;
}

.titleP {
  font-weight: 500;
  font-size: 1.2em;
}



/************* NAV BARS ***********/

.logo {
  display: block; /* Pour éviter les marges inutiles */
  margin: 50px auto; /* Centre horizontalement */
  width: 80px; /* Ajuste la taille */
}

.navbar-vertical {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 300px; /* Largeur de la navbar */
  height: 100vh; /* Hauteur de l'écran */
  background-color: #263782;
  padding-top: 20px;
}

.navbar-vertical .nav-link {
  color: white; /* Couleur du texte */
}

.navbar-vertical .nav-link.active,
.navbar-vertical .nav-link:hover {
  background-color: rgba(150, 195, 233, 0.5); /* Effet survol / actif */
  color: #fff;
}


a.nav-link {
  margin: 5px 50px;
}


/* Navbar horizontale fixée en haut */
.top-navbar {
  height: 40px; /* Hauteur de la barre */
  display: flex;
  align-items: center;
  padding: 10px 20px;
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(248, 249, 250, 0.9);
}

.top-navbar .nav-link {
  font-size: smaller;
  margin-right: 5px;
}



/* HOMEPAGE */

.formatech {
  background: -webkit-linear-gradient(158deg, #cf07b4, #af29fe, #7048ff, #1f65f2); /* Gradient pour les anciens navigateurs */
  background: linear-gradient(158deg, #cf07b4, #af29fe, #7048ff, #1f65f2); /* Gradient pour les navigateurs modernes */
  -webkit-background-clip: text; /* Applique le gradient au texte dans les navigateurs WebKit (Chrome, Safari, etc.) */
  background-clip: text; /* Pour les autres navigateurs */
  color: transparent; /* Rend le texte transparent afin que seule la couleur du gradient soit visible */
}

#homeS1 {
  margin: 70px;
}

.homeMenu {
  margin-bottom: 30px;
}

.homeMenu a {
  margin-left: 25px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: color 0.3s ease; /* Transition plus rapide pour la couleur */
}

.homeMenu a:hover {
  font-weight: 600; /* Pas de transition sur font-weight */
  background: -webkit-linear-gradient(158deg, #cf07b4, #af29fe, #7048ff, #1f65f2); /* Gradient pour les anciens navigateurs */
  background: linear-gradient(158deg, #cf07b4, #af29fe, #7048ff, #1f65f2); /* Gradient pour les navigateurs modernes */
  -webkit-background-clip: text; /* Applique le gradient au texte dans les navigateurs WebKit (Chrome, Safari, etc.) */
  background-clip: text; /* Pour les autres navigateurs */
  color: transparent; /* Rend le texte transparent afin que seule la couleur du gradient soit visible */
}


/******SESSION*******/
.sessionTab {
  margin-bottom: 80px;
}

.table-striped {
  width: 90%;
  margin-top: 10px;
}


/******* FORMS ******/

h1 .text-center mb-4 {
  margin-bottom: 30px;
}

.form-group{
  margin-top: 20px;
}

#labelStag {
  margin: 10px 0;
}

#labelProg {
  margin: 10px 0;
}

/****PAGE SESSION******/

/* 
.section-principale {
  width: 50%;
} */

.sectionForm {
margin-top: 50px;
}

#stagSection {
  margin-top: 50px;
  }




/******BUTTONS**********/

.backBtn {
  width: 30%;
  border: solid 1px transparent; /* rendre la bordure transparente pour appliquer le gradient */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 8px;
  /* Appliquer le gradient à la bordure */
  border-image: linear-gradient(158deg, #cf07b4, #af29fe, #7048ff, #1f65f2) 1; 
}

a.backBtn {
  background: -webkit-linear-gradient(158deg, #cf07b4, #af29fe, #7048ff, #1f65f2); /* Gradient pour les anciens navigateurs */
  background: linear-gradient(158deg, #cf07b4, #af29fe, #7048ff, #1f65f2); /* Gradient pour les navigateurs modernes */
  -webkit-background-clip: text; /* Applique le gradient au texte dans les navigateurs WebKit (Chrome, Safari, etc.) */
  background-clip: text; /* Pour les autres navigateurs */
  color: transparent; /* Rend le texte transparent afin que seule la couleur du gradient soit visible */
}

.backBtn:hover {

}

.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  line-height: 0.5em;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  width: 230px;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  text-align: center;
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background-color: rgb(5, 6, 45);
}

/* @media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
} */