{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}


{% block body %}


    <h1>Liste des catégories</h1>

    <ul>
        {% for categorie in categories %}
            <li>
                <a href="{{ path('app_categorie_show', {'id': categorie.id}) }}">
                    {{ categorie.nomCategorie }}
                </a>
            </li>
        {% else %}
            <li>Aucune catégorie trouvée.</li>
        {% endfor %}
    </ul>

    
{% endblock %}
