{% extends 'base.html.twig' %} 

{% block title %}Liste des modules d'une catégorie{% endblock %}

{% block body %}

    <h2>{{ categorie.nomCategorie }}</h2>

    {% if categorie.modules is not empty %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom du module</th>
                </tr>
            </thead>
            <tbody>
                {% for module in categorie.modules %}
                    <tr>
                        <td>{{ module.nomModule }}</td> 

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucune formation trouvée pour cette catégorie.</p>
    {% endif %}


    <a href="{{ path('app_categories') }}" class="backBtn" role="button">
        <span class="text">Retour à la liste des catégories</span>
    </a>


{% endblock %}

