{% extends 'base.html.twig' %}

{% block title %}Liste des formateurs{% endblock %}

{% block body %}

    <h1>Liste des formateurs</h1>

    {% for formateur in formateurs %}

    <li>{{ formateur.nom }} {{ formateur.prenom }} - {{ formateur.email }}</li>

    {% endfor %}

    <a href="{{ path('new_formateur') }}">Ajouter un formateur</a>

{% endblock %}
